.best-selling {
    padding-top: 74px;
}

.best-selling__title {
    margin-bottom: 18px;
}

.best-selling__item-img {
    margin-bottom: 10px;
}

.best-selling__descr {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 26px;
}

.best-selling__descr-price {
    font-size: 20px;
    font-weight: 800;
}

.best-selling__descr-text {
    flex: 0 1 170px;
    font-family: Arial, sans-serif;
    font-size: 20px;
    line-height: 20px;
}

.best-selling__slide-indicators-container {
    margin-bottom: 30px;
}