.discounts {
    padding-top: 73px;
}

.discounts__title {
    margin-bottom: 18px;
}

.discounts__item-img {
    margin-bottom: 10px;
}

.discounts__descr {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 26px;
}

.discounts__descr-text {
    flex: 0 1 170px;
    font-family: Arial, sans-serif;
    font-size: 20px;
    line-height: 20px;
}

.discounts__descr-price {
    font-size: 20px;
    font-weight: 800;
}

.discounts__slide-indicators-container {
    margin-bottom: 30px;
}