.why-us__title {
    padding-top: 38px;
    font-size: 24px;
    line-height: 31.78px;
    max-width: 80%;
    margin: 0 auto;
    margin-bottom: 23px;
}

.why-us__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px 22px;
}

.why-us__grid-element {
}

.why-us__grid-element-title {
    font-size: 16px;
    font-family: Arial, sans-serif;
    line-height: 15px;
    margin-bottom: 9px;
    font-weight: 600;
    max-width: 92%;
}

.why-us__grid-element-img-wrapper {
    width: 50px;
    height: 50px;
    background-image: linear-gradient(278.32deg, #0B3F37 -7.03%, #CB8D62 136.33%);
    margin-bottom: 20px;
}

.why-us__grid-element-img {
}

.why-us__grid-element-svg {
    padding: 8px;
    margin: auto;
    height: 100%;
}

.why-us__grid-element-descr {
    font-family: Arial, sans-serif;
    margin-bottom: 11px;
    font-size: 12px;
    line-height: 16px;
}

.why-us__grid-element-link {
    display: inline-flex;
    align-items: center;
    font-size: 14px;
    background-image: linear-gradient(65.81deg, #5E3928 -24.09%, #E4A16F 104.02%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.why-us__grid-element-link::after {
    content: "";
    position: relative;
    top: -1px;
    display: inline-block;
    width: 8px;
    height: 6px;
    margin-left: 7px;
    background-image: url(/images/why-us/drop-down-arrow.svg);
}